/* style/leaderboard.css */

.leaderboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0000;
}
 
.leaderboard-main {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.leaderboard-main h2 {
    font-size: 6rem;
    text-align: top;
}

.table {
    width: 100%;
}
.trophy-icon {
  color: gold; /* Set the color for the trophy icon */
}

.silver-icon {
  color: silver; /* Set the color for the silver icon */
}

.bronze-icon {
  color: #cd7f32; /* Set the color for the bronze icon */
}

.default-icon {
  color: #333; /* Set the color for the default icon */
}

.rank-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
}

.rank-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: 3px solid #C88688;
    height: 45px;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.rank-item:hover {
    background-color: #F37F6F; /* Change the background color on hover */
}

.username {
    min-width: 150px;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    position: relative;
    right:30px;
}

.pagination button {
    outline: none;
    font-size: 1.5rem;
}

.pagination span {
    font-size: 1.5rem;
}
.rank i{
    display:flex;
    align-items: center;
    font-size:2rem;
    padding:5px;
}
.rank{
    display:flex;
    align-items: center;
    position: relative;
    left:30px;
}
/* style/leaderboard.css */

/* ... (your existing CSS) */

/* Responsive Styles */

/* Adjust the font size of h2 for smaller screens */
@media screen and (max-width: 768px) {
    .leaderboard-main h2 {
      font-size: 4rem;
    }
  
    /* Adjust the font size of rank icons */
    .rank i {
      font-size: 1.5rem;
    }
  
    /* Adjust the font size of username and score */
    .username,
    .score {
      font-size: 1rem;
    }
  
    /* Adjust margin for rank-container */
    .rank-container {
      margin-top: 10px;
    }
  }
  
  /* Adjust styles for even smaller screens */
  @media screen and (max-width: 480px) {
    .leaderboard-main h2 {
      font-size: 3rem;
    }
  
    .rank i {
      font-size: 1rem;
    }
  
    .username,
    .score {
      font-size: 0.8rem;
    }
  
    .rank-container {
      margin-top: 5px;
    }
  }
  