@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
.leaderboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0000;
}
 
.leaderboard-main {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.leaderboard-main h2 {
    font-size: 7rem;
    text-align: top;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    transform: perspective(500px) rotatex(25deg); /* Backward curvature */
    color:#00bb8f8f;
}

.table {
    width: 100%;
}
.trophy-icon {
  color: gold; /* Set the color for the trophy icon */
}

.silver-icon {
  color: silver; /* Set the color for the silver icon */
}

.bronze-icon {
  color: #cd7f32; /* Set the color for the bronze icon */
}

.default-icon {
  color: #333; /* Set the color for the default icon */
}

.rank-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
}

.rank-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: 3px solid #4CEAD44D;
    height: 45px;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
    overflow: hidden;
    background-color:#1b4839a3;
    font-family: "Press Start 2P", system-ui;
    /* font-family: "VT323", monospace; */
    font-size:1.5rem;

}

.rank-item:hover {
    background-color: #38CCA9; /* Change the background color on hover */
    scale: 1.01;
    transition: background-color 0.3s;
}

.username {
    min-width: 150px;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    position: relative;
    right:10px;
}

.pagination button {
    outline: none;
    font-size: 1.5rem;
    border-bottom: none;
}

.pagination span {
    font-size: 1.5rem;
    font-family: "Press Start 2P", system-ui;



}
.rank i{
    display:flex;
    align-items: center;
    font-size:2rem;
    padding:5px;
}
.rank{
    display:flex;
    align-items: center;
    position: relative;
    left:30px;
}
.leaderboard-main select{
    font-size: 1.5rem;
    padding: 4px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #4CEAD44D;
    text-transform: uppercase;

    outline: none;
    background-color:transparent;
    color:white;
    font-family: "Press Start 2P", system-ui;
}
.leaderboard-main select:hover{
  background-color: #38CCA9;
  scale: 1.1;
  transition: 0.3s;
  
}

/* Adjust the font size of h2 for smaller screens */
@media screen and (max-width: 768px) {
    .leaderboard-main h2 {
      font-size: 4rem;
    }
  
    /* Adjust the font size of rank icons */
    .rank i {
      font-size: 1.5rem;
    }
  
    /* Adjust the font size of username and score */
    .username,
    .score {
      font-size: 1rem;
    }
  
    /* Adjust margin for rank-container */
    .rank-container {
      margin-top: 10px;
    }
  }
  
  /* Adjust styles for even smaller screens */
  @media screen and (max-width: 480px) {
    .leaderboard-main h2 {
      font-size: 3rem;
          margin-left: 60px;  
    }
    .leaderboard-main select{
      margin-left: 60px;
    }
    .rank-item{
      margin-left: 60px;
      width:80%;

    }
    .rank i {
      font-size: 1rem;
    }
    .leaderboard-main{
      width:100%;
    }
    .username{
      font-size: 10px;
    }
  
    .username,
    .score {
      font-size: 10px;
      width:150px;
    }
    .rank{
      left:0;
      gap:-120px;
      width:150px;
    }
    .score{
      width:120px;
    }
    .rank-container {
      width:100%;
      display:flex;
      font-size:1rem;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .pagination button{
      position: relative;
      left:47px;
      font-size:1rem;
      height:50px;
    
    }
    .pagination span{
      position: relative;
      left:47px;
    }
  }
  